# Jupyter Notebooks
/.ipynb_checkpoints
*.ipynb

# Secret discord bot token
discord_token.txt
# Secret aleeva token
aleeva_token.txt
# Stored data
*.pkl
*.db
*.json

# Visual Studio
.vscode

# Temp files
*.tmp

# Cache files
/__pycache__